body {
  padding-top: 61px;  /* Move body of page below navbar. */
}

.ui.inverted.menu {
  background-color: rgba(35,35,35,1);
}

footer {
  background-color: rgba(35,35,35,1);
  color: white;
}

/* Login page things box */
.ui.centered.grid.login.page {
  background: url('https://upload.wikimedia.org/wikipedia/commons/2/2b/Bookshelf.jpg') no-repeat center center fixed;
  background-size:cover;
  height:600px;
}

.ui.form.login.form {
  background: rgba(35,35,35,0.50);
  padding: 20px;
  height: 225px;
  border-radius: 25px;
}

/* Registration page things */
.ui.centered.grid.registration.page {
  background: url('https://upload.wikimedia.org/wikipedia/commons/2/2b/Bookshelf.jpg') no-repeat center center fixed;
  background-size:cover;
  height:600px;
}
.ui.form.registration.form {
  background: rgba(35,35,35,0.50);
  padding: 20px;
  height: 400px;
  width: 1000px;
  border-radius: 25px;
}



/* Landing page elements */
.ui.centered.grid.landing.page {
  background: url('https://assets.entrepreneur.com/content/3x2/1300/20150903173413-books-shop-fair-library-used-bookshelf-literature-study-textbooks.jpeg') no-repeat center center fixed ;
  background-size:cover;
  height:600px;
}

#landing-box {
  background: rgba(35,35,35,0.50);
  padding: 20px;
  height: 350px;
  border-radius: 25px;
}